TELEMETRY_LINK =  "http://eu.thingsboard.cloud/api/v1/"

ACCESS_TOKEN_1 = "access_token"
ACCESS_TOKEN_2 = "access_token"
ACCESS_TOKEN_3 = "access_token"

ROBOT_1_SERVER = "10.33.77.1"
ROBOT_2_SERVER = "10.33.77.2"
ROBOT_3_SERVER = "10.33.77.3"
