TELEMETRY_LINK =  "https://eu.thingsboard.cloud/api/v1/"

ACCESS_TOKEN_1 = "access_token"
ACCESS_TOKEN_2 = "access_token"
ACCESS_TOKEN_3 = "access_token"

ROBOT_1_SERVER = "10.33.77.1"
ROBOT_2_SERVER = "10.33.77.2"
ROBOT_3_SERVER = "10.33.77.3"

PORT = "8080"

# Specify the server that you want to start
# 1 -> robot server 1
# 2 -> robot server 2
# 3 -> robot server 3
SERVER_NUMBER = "2"
